#ai-button {
    position: fixed;
    bottom: 7em; /* Adjust as needed */
    right: 2em;
    background-color: red;
}

#polls-button {
    position: fixed;
    bottom: 12em; /* Adjust as needed */
    right: 2em;
    background-color: red;
}

#post-button {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

#post-feed {
    max-width: 500px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}
